<p id="notice"><%= notice %></p>

<p>
  <b>Thread:</b>
  <%= @drawing.thread %>
</p>

<p>
  <b>User:</b>
  <%= @drawing.user %>
</p>

<p>
  <b>X:</b>
  <%= @drawing.x %>
</p>

<p>
  <b>Y:</b>
  <%= @drawing.y %>
</p>


<%= link_to 'Edit', edit_drawing_path(@drawing) %> |
<%= link_to 'Back', drawings_path %>
